blazeds/blazeds-src-4.0.1.21287/qa/apps/qa-regress/testsuites/mxunit/tests/proxyServiceOnly/webService/bugs/179193/lc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://adobe.com/workflow/services/getEmployeeInfo" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/workflow/services/getEmployeeInfo" xmlns:intf="http://adobe.com/workflow/services/getEmployeeInfo" xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Generated by Adobe LiveCycle Workflow v7.0-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://adobe.com/workflow/services/getEmployeeInfo" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="invoke">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:string"/>
      <element name="user_pernr" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="invokeResponse">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="synchronousInvoke">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:string"/>
      <element name="user_pernr" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="synchronousInvokeResponse">
    <complexType>
     <sequence>
      <element name="e_msgtype" type="xsd:string"/>
      <element name="e_msgtxt" type="xsd:string"/>
      <element name="work_schedule" type="xsd:string"/>
      <element name="valid_status" type="xsd:string"/>
      <element name="semi_mon_hours" type="xsd:string"/>
      <element name="sabbatical_date" type="xsd:string"/>
      <element name="personnel_area_code" type="xsd:string"/>
      <element name="personnel_area" type="xsd:string"/>
      <element name="payroll_number" type="xsd:string"/>
      <element name="next_level_mgr_ind" type="xsd:string"/>
      <element name="manalev" type="xsd:string"/>
      <element name="location_code" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
      <element name="exmpt" type="xsd:string"/>
      <element name="emp_user_id" type="xsd:string"/>
      <element name="emp_title" type="xsd:string"/>
      <element name="emp_sub_group_cd" type="xsd:string"/>
      <element name="emp_sub_group" type="xsd:string"/>
      <element name="emp_phone" type="xsd:string"/>
      <element name="emp_pay_curr" type="xsd:string"/>
      <element name="emp_number" type="xsd:string"/>
      <element name="emp_mgr_userid" type="xsd:string"/>
      <element name="emp_mgr_name" type="xsd:string"/>
      <element name="emp_manalev" type="xsd:string"/>
      <element name="emp_group_cd" type="xsd:string"/>
      <element name="emp_group" type="xsd:string"/>
      <element name="emp_full_name" type="xsd:string"/>
      <element name="emp_last_name" type="xsd:string"/>
      <element name="emp_first_name" type="xsd:string"/>
      <element name="emp_fax" type="xsd:string"/>
      <element name="emp_mail" type="xsd:string"/>
      <element name="department" type="xsd:string"/>
      <element name="country" type="xsd:string"/>
      <element name="cost_center_manager" type="xsd:string"/>
      <element name="cost_center" type="xsd:string"/>
      <element name="company_curr" type="xsd:string"/>
      <element name="company_code" type="xsd:string"/>
      <element name="business_unit" type="xsd:string"/>
      <element name="processID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResults">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultsResponse">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:long"/>
      <element name="e_msgtype" type="xsd:string"/>
      <element name="e_msgtxt" type="xsd:string"/>
      <element name="work_schedule" type="xsd:string"/>
      <element name="valid_status" type="xsd:string"/>
      <element name="semi_mon_hours" type="xsd:string"/>
      <element name="sabbatical_date" type="xsd:string"/>
      <element name="personnel_area_code" type="xsd:string"/>
      <element name="personnel_area" type="xsd:string"/>
      <element name="payroll_number" type="xsd:string"/>
      <element name="next_level_mgr_ind" type="xsd:string"/>
      <element name="manalev" type="xsd:string"/>
      <element name="location_code" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
      <element name="exmpt" type="xsd:string"/>
      <element name="emp_user_id" type="xsd:string"/>
      <element name="emp_title" type="xsd:string"/>
      <element name="emp_sub_group_cd" type="xsd:string"/>
      <element name="emp_sub_group" type="xsd:string"/>
      <element name="emp_phone" type="xsd:string"/>
      <element name="emp_pay_curr" type="xsd:string"/>
      <element name="emp_number" type="xsd:string"/>
      <element name="emp_mgr_userid" type="xsd:string"/>
      <element name="emp_mgr_name" type="xsd:string"/>
      <element name="emp_manalev" type="xsd:string"/>
      <element name="emp_group_cd" type="xsd:string"/>
      <element name="emp_group" type="xsd:string"/>
      <element name="emp_full_name" type="xsd:string"/>
      <element name="emp_last_name" type="xsd:string"/>
      <element name="emp_first_name" type="xsd:string"/>
      <element name="emp_fax" type="xsd:string"/>
      <element name="emp_mail" type="xsd:string"/>
      <element name="department" type="xsd:string"/>
      <element name="country" type="xsd:string"/>
      <element name="cost_center_manager" type="xsd:string"/>
      <element name="cost_center" type="xsd:string"/>
      <element name="company_curr" type="xsd:string"/>
      <element name="company_code" type="xsd:string"/>
      <element name="business_unit" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStatus">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStatusResponse">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:long"/>
      <element name="statusString" type="xsd:string"/>
      <element name="statusCode" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="synchronousInvokeRequest">

      <wsdl:part element="impl:synchronousInvoke" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part element="impl:getStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part element="impl:getResults" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultsResponse">

      <wsdl:part element="impl:getResultsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part element="impl:getStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="invokeResponse">

      <wsdl:part element="impl:invokeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="invokeRequest">

      <wsdl:part element="impl:invoke" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="synchronousInvokeResponse">

      <wsdl:part element="impl:synchronousInvokeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="getEmployeeInfo">

      <wsdl:operation name="invoke">

         <wsdl:input message="impl:invokeRequest" name="invokeRequest"/>

         <wsdl:output message="impl:invokeResponse" name="invokeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="synchronousInvoke">

         <wsdl:input message="impl:synchronousInvokeRequest" name="synchronousInvokeRequest"/>

         <wsdl:output message="impl:synchronousInvokeResponse" name="synchronousInvokeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResults">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest"/>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="getEmployeeInfoSoapBinding" type="impl:getEmployeeInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="invoke">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="invokeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="invokeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="synchronousInvoke">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="synchronousInvokeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="synchronousInvokeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="getEmployeeInfoService">

      <wsdl:port binding="impl:getEmployeeInfoSoapBinding" name="getEmployeeInfo">

         <wsdlsoap:address location="lc.xml"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
